section{
  margin-bottom: 100px;
}

.titleHome{
    font-size: 32px;
    color: var(--color-titulo-home);
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    margin: 0;
}

.titleAplication{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color-titulo-home);
}

#bannerSection{
  min-height: 300px;
}

.form-empresa{
  margin: 3rem auto auto auto !important;
}

#processingSection .description{
  font-size: 20px;
  color: var(--color-titulo-home);
  font-weight: 400;
}

#aplicationsSection .description{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

#aplicationsSection .titleHolder{
  padding-bottom: 30px;
}

#aplicationsSection .aplicationHolder .description{
  text-align:left
}

#aplicationsSection .aplicationHolder .titleAplication{
  padding-bottom: 20px;
}

#aplicationsSection .aplicationHolder {
  padding:20px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  min-height:250px;
  margin-bottom: 40px;
  border-radius:5px;
}

input#nome-empresa{
    text-align: center;
}

input{
    border-color: black !important;
}

input::placeholder{
    color:black !important;
}

.searchInput{
  width: 50% !important;
  margin: 0 auto;
}


@media screen and (max-width: 600px) {
  .searchInput {
    width: 100% !important;
    margin: 0 auto;
  }

  section {
    margin-bottom: 70px;
  }

  .titleHome br{
    display: none;
  }

  .titleHome{
    font-size:31px;
  }

}
